[submodule "site-lisp/extensions/swiper"]
	path = site-lisp/extensions/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "site-lisp/extensions/ivy-posframe"]
	path = site-lisp/extensions/ivy-posframe
	url = https://github.com/tumashu/ivy-posframe.git
[submodule "site-lisp/extensions/auto-save"]
	path = site-lisp/extensions/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "site-lisp/extensions/fingertip"]
	path = site-lisp/extensions/fingertip
	url = https://github.com/manateelazycat/fingertip.git
